<!doctype html>
<html>
<head>
<title>MedHacks 2020</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container-fluid">

<div class="row">
    <div class="col-12">
        <h1>The population you have selected has {{population_size}} people</h1>
    </div>
</div>

<div id="Demographics">
<h2>Demographics</h2>
<div class="row">
    <div class="col-4">
        <div id="age" style="float:left"></div>
        <script>
        var trace = {
            x: {{ages}},
            type: 'histogram',
            nbinsx : 10
          };
        var data = [trace];
        var layout= {
            title:" Age distribution",
            yaxis:{title:"Frequency"},
            xaxis:{title:"Age"},
            height:400,
            width:500
        }
        Plotly.newPlot('age', data, layout);
        </script>
    </div>
<div class="col-4">
    <div id="gender" style="float:left"></div>
        <script>
        var data = [{
            type : 'pie',
            labels : {{gender_ratio_labels|tojson}},
            values : {{gender_ratio}},
            hoverinfo : "label+percent+name+value",
            automargin: true
        }]
        var layout = {
            title: "Gender distribution",
            height: 400,
            width: 500,
            showlegend: true
        }
        Plotly.newPlot("gender", data, layout);
        </script>
</div>
<div class="col-4">
<div id="ethnicity" style="float:left"></div>
        <script>
        var data = [{
            type : 'pie',
            labels : {{races_labels|tojson}},
            values : {{races}},
            hoverinfo : "label+percent+name+value",
            automargin: true
        }]
        var layout = {
            title: "Ethnicity distribution",
            height: 400,
            width: 500,
            showlegend: true,
        }
        Plotly.newPlot("ethnicity", data, layout);
        </script>
</div>
</div>
</div>

<div id="Conditions">
<h2>Medical Conditions</h2>
<div class="row">
    <div class="col-4">
        <div id="conditions_frequency" style="float:left"></div>
        <script>
        var data = [{
            type : 'pie',
            name: "All",
            domain: {column: 0},
            labels : {{condition_labels|tojson}},
            values : {{condition_counts}},
            hoverinfo : "label+percent+name+value",
            automargin: true
        },
            {
            type : 'pie',
            name: "Unresolved",
            domain: {column: 1},
            labels : {{active_condition_count_labels|tojson}},
            values : {{active_condition_counts}},
            hoverinfo : "label+percent+name+value",
            automargin: true
        }]
        var layout = {
            title: "All Conditions vs Chronic Conditions",
            height: 400,
            width: 800,
            showlegend: false,
            grid: {rows: 1, columns: 2},
        }
        Plotly.newPlot("conditions_frequency", data, layout);
        </script>
    </div>
    <div class="col-4">
        <div id="conditions_per_patient" style="float:left"></div>
        <script>
        var data = [{
            x: {{conditions_per_patient_labels|tojson}},
            y: {{conditions_per_patient}},
            type: 'bar',
        }]
        var layout = {
            title: "Number of chronic conditions per patient",
            xaxis: {title: "Number of chronic conditions for a single patient", dtick: 1},
            yaxis: {title: "Frequency"},
            width: 500,
            height: 400
        }
        Plotly.newPlot("conditions_per_patient", data, layout)
        </script>
    </div>
    <div class="col-4">
    </div>
</div>
</div>

<div id="Medications">
<h2>Medications</h2>
<div class="row">
    <div class="col-4">
        <div id="medications_frequency" style="float:left"></div>
        <script>
        var data = [{
            type : 'pie',
            labels : {{active_medications_count_labels|tojson}},
            values : {{active_medications_counts}},
            hoverinfo : "label+percent+name+value",
            automargin: true
        }]
        var layout = {
            title: "Frequency of Active medications",
            height: 400,
            width: 500,
            showlegend: false
        }
        Plotly.newPlot("medications_frequency", data, layout);
        </script>
    </div>
    <div class="col-4">
        <div id="medications_per_patient" style="float:left"></div>
        <script>
        var data = [{
            x: {{medications_per_patient_labels|tojson}},
            y: {{medications_per_patient}},
            type: 'bar',
        }]
        var layout = {
            title: "Number of active medications per patient",
            xaxis: {title: "Number of active medications for a single patient", dtick: 1},
            yaxis: {title: "Frequency"},
            width: 500,
            height: 400
        }
        Plotly.newPlot("medications_per_patient", data, layout)
        </script>
    </div>
    <div class="col-4">
    </div>
</div>

<div id="Encounters">
<h2>Clinical Encounters</h2>
<div class="row">
    <div class="col-4">
        <div id="encounterdistribution" style="float:left"></div>
        <script>
        var trace = {
            x: {{overallencounters|tojson}},
            type: 'histogram',
            nbinsx:12
          };
        var data = [trace];
        var layout= {
            title:" Encounter distribution",
            yaxis:{title:"Frequency"},
            xaxis:{title:"Time"},
            height:400,
            width:500
        }
        Plotly.newPlot('encounterdistribution', data, layout);
        </script>
    </div>
    <div class="col-4">
        <div id="emergencydistribution" style="float:left"></div>
        <script>
        var trace = {
            x: {{emergency|tojson}},
            type: 'histogram',
            nbinsx:12
          };
        var data = [trace];
        var layout= {
            title:" Emergency Presentations",
            yaxis:{title:"Frequency"},
            xaxis:{title:"Time"},
            height:400,
            width:500
        }
        Plotly.newPlot('emergencydistribution', data, layout);
        </script>
    </div>
    <div class="col-4">
        <div id="outpatientdistribution" style="float:left"></div>
        <script>
        var trace = {
            x: {{outpatient|tojson}},
            type: 'histogram',
            nbinsx:12
          };
        var data = [trace];
        var layout= {
            title:" Outpatient Presentations",
            yaxis:{title:"Frequency"},
            xaxis:{title:"Time"},
            height:400,
            width:500
        }
        Plotly.newPlot('outpatientdistribution', data, layout);
        </script>
    </div>
</div>
<div class="row">
<div class="col-4">
        <div id="ambulatorydistribution" style="float:left"></div>
        <script>
        var trace = {
            x: {{ambulatory|tojson}},
            type: 'histogram',
            nbinsx:12
          };
        var data = [trace];
        var layout= {
            title:" Ambulatory Presentations",
            yaxis:{title:"Frequency"},
            xaxis:{title:"Time"},
            height:400,
            width:500
        }
        Plotly.newPlot('ambulatorydistribution', data, layout);
        </script>
    </div>
    <div class="col-4">
        <div id="encounters_per_patient" style="float:left"></div>
        <script>
        var data = [{
            x: {{encounters_per_patient_label|tojson}},
            y: {{encounters_per_patient}},
            type: 'bar',
        }]
        var layout = {
            title: "Number of encounters per patient per year",
            xaxis: {title: "Number of encounters for a single patient", dtick: 1},
            yaxis: {title: "Frequency"},
            width: 500,
            height: 400
        }
        Plotly.newPlot("encounters_per_patient", data, layout)
        </script>
    </div>
    <div class="col-4">
    </div>
</div>
</div>
</body>
</html>